@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;800&display=swap");
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    margin-right: -30px;
  }
  to {
    margin-right: 30px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(385deg);
  }
}
p {
  font-weight: 400;
  color: hsl(40deg, 14%, 96%);
  font-size: 20px;
  line-height: 30px;
}
p a {
  color: hsl(266deg, 100%, 64%);
  font-weight: 500;
  text-decoration: none;
}
p strong {
  color: hsl(266deg, 100%, 64%);
}

.title {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 80px;
  padding-top: 10px;
}
.title h3,
.title span {
  font-size: 24px;
}
.title h3 {
  font-style: italic;
  color: hsl(40deg, 14%, 96%);
  font-weight: 900;
}
.title span {
  color: hsl(266deg, 100%, 64%);
}
.title div {
  background-color: hsl(40deg, 14%, 96%);
  height: 1px;
  width: 30px;
  margin: 0 10px 8px 10px;
}
@media screen and (min-width: 900px) {
  .title h3,
.title span {
    font-size: 24px;
  }
}

button {
  border: hsl(40deg, 14%, 96%) 1px solid;
  border-radius: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 25px 15px 25px;
  margin: 35px 0;
  background-color: transparent;
  box-shadow: 0 0 20px -5px hsl(195deg, 46%, 5%);
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  transition: all 300ms ease-in-out;
}
button a {
  text-decoration: none;
  margin-right: 20px;
}
button:hover {
  background-color: hsl(266deg, 100%, 64%);
  border-color: hsl(266deg, 100%, 64%);
}

.arrow {
  border: solid hsl(266deg, 100%, 64%);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transition: all 200ms ease-in-out;
  animation: 1s slide-right;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.arrow--right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow--left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow--up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow--down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  color: hsl(40deg, 14%, 96%);
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: hsl(195deg, 46%, 5%);
  animation: fadein 2s;
}

.loader {
  width: 100%;
  height: 100vh;
  transition: all 200ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(195deg, 46%, 5%);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__text {
  padding-left: 25px;
}
.loader__icon {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: hsl(40deg, 14%, 96%);
  transform: rotate(20deg);
  animation: 1s spin infinite;
  animation-delay: 1s;
}
.loader--ended {
  height: 0;
}
.loader--ended > * {
  display: none;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  color: hsl(40deg, 14%, 96%);
  padding-bottom: 4px;
}
h1 a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
h1 a:hover {
  color: hsl(266deg, 100%, 64%);
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background-color: hsl(195deg, 46%, 5%);
  width: 100%;
  z-index: 8;
}
@media screen and (min-width: 900px) {
  nav {
    position: fixed;
    padding: 25px 10%;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
  }
}
@media screen and (min-width: 1200px) {
  nav {
    padding: 25px 15%;
  }
}

@media screen and (min-width: 900px) {
  .nav--scroll {
    background-color: hsl(195deg, 46%, 5%);
  }
}

.menu-desktop {
  display: none;
}
@media screen and (min-width: 900px) {
  .menu-desktop {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .menu-desktop__item {
    margin-left: 10%;
  }
  .menu-desktop__item a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
  }
  .menu-desktop__item span {
    color: hsl(266deg, 100%, 64%);
  }
  .menu-desktop__item p {
    transition: all 200ms ease-in-out;
  }
  .menu-desktop__item p:hover {
    color: hsl(266deg, 100%, 64%);
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 9;
}
.hamburger span {
  background-color: hsl(40deg, 14%, 96%);
  height: 2px;
  width: 100%;
  transition: all 500ms ease-in-out;
  position: absolute;
}
.hamburger span:nth-child(1) {
  transform: translateY(-7px);
}
.hamburger span:nth-child(3) {
  transform: translateY(7px);
}
.hamburger--close span:nth-child(1) {
  transform: rotateZ(45deg);
}
.hamburger--close span:nth-child(2) {
  background-color: transparent;
}
.hamburger--close span:nth-child(3) {
  transform: rotateZ(-45deg);
}
@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

.menu-mobile {
  position: fixed;
  background-color: hsl(195deg, 46%, 5%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
  z-index: 8;
}
.menu-mobile--close {
  transform: translateY(-1050px);
}
.menu-mobile__item {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  color: hsl(40deg, 14%, 96%);
  font-size: 20px;
  line-height: 30px;
}
.menu-mobile__item a {
  color: hsl(266deg, 100%, 64%);
  font-weight: 500;
  text-decoration: none;
}
.menu-mobile__item strong {
  color: hsl(266deg, 100%, 64%);
}
.menu-mobile__item span {
  color: hsl(266deg, 100%, 64%);
  font-weight: 500;
  text-decoration: none;
}

header {
  background: linear-gradient(0deg, hsl(195deg, 46%, 5%) 0%, hsl(266deg, 100%, 15%) 100%);
  padding: 110px 40px 80px 40px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
header::after {
  content: "";
  background-image: url(ressources/pattern.png);
}
header h2 {
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 400;
}
header p {
  margin: 5px 0;
}
@media screen and (min-width: 900px) {
  header {
    padding: 250px 10% 150px 10%;
    position: relative;
    top: -100px;
    height: 110vh;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-left: 15%;
    padding-right: 15%;
  }
}

section {
  background-color: hsl(195deg, 46%, 5%);
}
section .container {
  padding: 80px 40px;
}
@media screen and (min-width: 900px) {
  section .container {
    padding: 150px 10%;
  }
}
@media screen and (min-width: 1200px) {
  section .container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

#about .portrait {
  background: url(ressources/pauline-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
@media screen and (min-width: 500px) {
  #about .portrait {
    display: none;
  }
}
#about span {
  border-color: hsl(266deg, 100%, 64%);
}
#about .stack span {
  color: hsl(266deg, 100%, 64%);
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;
}

.more-info {
  margin-top: 20px;
}
.more-info img {
  display: none;
}
@media screen and (min-width: 500px) {
  .more-info img {
    display: inline-block;
    width: 50%;
    max-width: 250px;
    border-radius: 500px;
  }
}
@media screen and (min-width: 500px) {
  .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
}

#clients {
  background-color: hsl(195deg, 46%, 5%);
}

.accordeon__client {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid hsl(40deg, 14%, 96%) 1px;
  padding: 20px 5px 20px 0px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.accordeon__client p {
  transition: all 300ms ease-in-out;
}
.accordeon__client:hover {
  padding-left: 20px;
}
.accordeon__client:hover > span {
  border-color: hsl(266deg, 100%, 64%);
}
.accordeon__client:hover > p {
  color: hsl(266deg, 100%, 64%);
  padding-right: 20px;
}
.accordeon__client--active p {
  color: hsl(266deg, 100%, 64%);
}
.accordeon__client--active span {
  border-color: hsl(266deg, 100%, 64%);
}

.accordeon__quote {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}

.mobile-cards {
  background-color: transparent;
  margin: 0 20px;
  list-style-type: none;
}
@media screen and (min-width: 900px) {
  .mobile-cards {
    display: none;
  }
}

.card__content {
  overflow: hidden;
  text-align: center;
}
.card__content img {
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
}

#mobile-card-1 {
  --index: 1;
}

#mobile-card-2 {
  --index: 2;
}

#mobile-card-3 {
  --index: 3;
}

#mobile-card-4 {
  --index: 4;
}

#mobile-card-5 {
  --index: 5;
}

.mobile-card {
  position: sticky;
  top: 80px;
  padding-top: calc(var(--index) * 1.5em);
}

@media screen and (min-width: 900px) {
  #work .container:first-child {
    padding-bottom: 0;
  }
}

.desktop-card {
  display: none;
}
@media screen and (min-width: 900px) {
  .desktop-card {
    display: grid;
    grid-template-columns: 40% repeat(2, 1fr) 30%;
    grid-template-rows: repeat(4, auto);
    align-items: center;
    text-align: right;
    padding: 10% 0;
  }
  .desktop-card:last-child {
    padding-bottom: 0;
  }
}
.desktop-card img {
  border-radius: 5px;
  grid-column: 1/3;
  grid-row: 1/5;
  max-width: 100%;
  position: relative;
  filter: grayscale(100);
  transition: all 300ms ease-in-out;
}
.desktop-card img:hover {
  filter: grayscale(0);
}
.desktop-card h1 {
  grid-column: 4/5;
  grid-row: 1/2;
  display: inline-block;
  font-size: 28px;
  margin-bottom: 20px;
}
.desktop-card p.box {
  border-radius: 5px;
  grid-column: 2/5;
  grid-row: 2/3;
  z-index: 2;
  display: block;
  padding: 30px;
  margin-bottom: 30px;
  background-color: hsl(266deg, 100%, 15%);
  box-shadow: 0 0 20px -5px hsl(195deg, 46%, 5%);
}
.desktop-card__stack {
  grid-column: 3/5;
  grid-row: 3/4;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
}
.desktop-card__stack > p {
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 16px;
}
.desktop-card__links {
  grid-column: 3/5;
  grid-row: 4/5;
  display: flex;
  justify-content: end;
  align-items: center;
}
.desktop-card__links > a {
  margin-left: 15px;
  transition: all 200ms ease-in-out;
}
.desktop-card--left {
  text-align: left;
  grid-template-columns: 30% repeat(2, 1fr) 40%;
}
.desktop-card--left img {
  grid-column: 3/5;
}
.desktop-card--left h1 {
  grid-column: 1/2;
}
.desktop-card--left p.box {
  grid-column: 1/4;
}
.desktop-card--left .desktop-card__stack {
  grid-column: 1/3;
  justify-content: start;
}
.desktop-card--left .desktop-card__stack > p {
  margin-right: 25px;
  margin-left: 0;
}
.desktop-card--left .desktop-card__links {
  grid-column: 1/3;
  justify-content: start;
}
.desktop-card--left .desktop-card__links > a {
  margin-right: 15px;
  margin-left: 0;
}

#contact {
  background: linear-gradient(0deg, hsl(266deg, 100%, 15%) 0%, hsl(195deg, 46%, 5%) 100%);
  position: relative;
}
#contact .container {
  text-align: center;
  padding-bottom: 0;
}
#contact .container .title {
  text-align: left;
}
@media screen and (min-width: 900px) {
  #contact .container .title {
    margin-bottom: 150px;
  }
}
#contact .contact-button {
  text-decoration: none;
  font-size: 100px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  transition: color 200ms ease-in-out;
}
#contact .contact-button:hover {
  color: hsl(266deg, 100%, 64%);
}
#contact .social {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  #contact .social {
    padding: 10%;
  }
}
@media screen and (min-width: 1200px) {
  #contact .social {
    padding: 80px 15%;
  }
}
#contact img {
  width: 32px;
  margin-top: 20px;
  filter: grayscale(100) brightness(2);
  transition: all 300ms ease-in-out;
}
#contact img:hover {
  filter: grayscale(0) brightness(1);
}
#contact img:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
